*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #d9f8c4;
}

.App {
  width: 100vw;
  height: 100vh;

  display: grid;
  place-items: center;
}

.button {
  padding: 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
